@model Kartina.Models.Utilisateur

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Home/About.cshtml";
}

<h2>Edit</h2>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUtilisateur" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotPass" class="control-label"></label>
                <input asp-for="MotPass" class="form-control" />
                <span asp-validation-for="MotPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Civilité" class="control-label"></label>
                <input asp-for="Civilité" class="form-control" />
                <span asp-validation-for="Civilité" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfilUtilisateur" class="control-label"></label>
                <select asp-for="IdProfilUtilisateur" class="form-control" asp-items="ViewBag.IdProfilUtilisateur"></select>
                <span asp-validation-for="IdProfilUtilisateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAdresse" class="control-label"></label>
                <select asp-for="IdAdresse" class="form-control" asp-items="ViewBag.IdAdresse"></select>
                <span asp-validation-for="IdAdresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

