
@{
    ViewData["Title"] = "Utilisateurs";
    Layout = "~/Views/Home/About.cshtml";
}

<h1>Nom du vendeur</h1>
<h2>Pays</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum massa nisl, imperdiet non vehicula sit amet, aliquet nec nisi.
    Duis porta, nisl ut accumsan tempus, velit elit feugiat velit, ac pellentesque ante sem nec urna. Etiam vel faucibus risus.
    Nullam ultricies nisi sit amet consequat vestibulum. Sed et dui libero. Fusce mi libero, sodales ut nisl et, cursus maximus arcu.
    Aenean porttitor non est ac rhoncus. Proin sed vulputate ante. Vestibulum tortor felis, fringilla eget sagittis vel, eleifend et arcu. Sed et bibendum ante.
    Sed sed maximus odio, sit amet lacinia nisl. Sed fringilla, libero nec aliquet hendrerit, mauris lectus sagittis risus, volutpat auctor augue ligula eget mauris.
</p>
