@{
    ViewData["Title"] = "Artiste";
}

<body style="background-color:black;
color:white;">

    <div style="font-family: 'Aleo', serif; text-align:center">

        <h1>@ViewData["Prenom"] @ViewData["Nom"]</h1>
        <h3>@ViewData["Pays"]</h3>
        <p>
            @ViewData["Descriptif"]
        </p>
    </div>

    <div>

    </div>

</body>
