@{
    ViewData["Title"] = "Home Page";
}

<body>

    <main>
        <section>

            <article id="a1">
                <h2> Nouvelles oeuvres</h2>
                <h3> La légendaire collection Everst</h3>
                <button id="b1"> Explorer la nouvelle collection > </button>
            </article>

            <article id="a2">
                <div>
                    <img src="photos/nature1.jpeg">
                    <div><a href="../Home/Artiste" name="Paul">Paul</a></div>
                    <div> Nature</div>
                    <div> A partir de 100$</div>
                </div>
                <div>
                    <img src="photos/nature2.jpeg">
                    <div><a href="../Home/Artiste" name="James">James</a></div>
                    <div>red apple</div>
                    <div>A partir de 10$</div>
                </div>
                <div>
                    <img src="photos/nature3.jpeg">
                    <div><a href="../Home/Artiste" name="Aurélien">Aurélien</a></div>
                    <div>red apple</div>
                    <div>A partir de 50$</div>
                </div>
                <div>
                    <img src="photos/urbain1.jpeg">
                    <div><a href="../Home/Artiste" name="Paul">Paul</a></div>
                    <div></div>
                    <div>A partir de 60$</div>
                </div>
                <div>
                    <img src="photos/urbain2.jpeg">
                    <div><a href="../Home/Artiste" name="Antoine">Antoine</a></div>
                    <div>red apple</div>
                    <div>A partir de 70$</div>
                </div>
                <div>
                    <img src="photos/urbain3.jpeg">
                    <div><a href="../Home/Artiste" name="Ludovic">Ludovic</a></div>
                    <div>red apple</div>
                    <div>A partir de 80$</div>
                </div>
            </article>

            <article id="a3">

                <div>
                    <h2>Voyage</h2>
                    <p>Vivez vos rêves</p>
                    <a href="voyage.html">Parcourir la collection</a>
                </div>
                <div>
                    <h2>Noir & Blanc</h2>
                    <p>Des oeuvres intemporelles</p>
                    <a href="noiretblanc.html">Découvrir la collection</a>

                </div>
                <div>
                    <h2>Aurélien Vilette</h2>
                    <p>Edifices oubliés</p>
                    <a>Découvrir l'artiste</a>
                </div>
                <div>
                    <h2>Derniers exemplaires</h2>
                    <p>Ne passer pas à côté de votre oeuvre</p>
                    <a href="oeuvres.html">Découvrir les oeuvres</a>
                </div>

            </article>
        </section>

    </main>

    
</body>
